body {
    background-color: #343234;
}

h1 {
    color: aliceblue;
}

h5 {
    color: aliceblue;
}

h6 {
    color:aliceblue;
}

h7 {
    color: #8d03ff;
}

h10 {
    color: #343234;
}

media-body. {
    border-color: aqua;
}